.container {
  display: flex;
  justify-content: center;
}
input {
  background-color: rgba(135, 189, 104, 0.6);
  font-family: cursive;
  border-radius: 10px 0 0 10px;
  border-color: rgba(135, 189, 104, 0.6);
  outline: none;
}
button {
  border-radius: 0 10px 10px 0;
  border-color: rgba(135, 189, 104, 0.6);
  color: rgba(135, 189, 104, 0.6);
  background-color: #282c34;
}

button:hover {
  color: #282c34;
  background-color: rgba(135, 189, 104, 0.6);
  cursor: pointer;
}
